
@{
    ViewData["Title"] = "ElectronicsCommunication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/css/cells.css" rel="stylesheet" />
}
@section Script{
    <script>
        $(document).ready(function () {
            $('#owl1').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        //nav: true
                    },
                    600: {
                        items: 3,
                        //nav: false
                    },
                    1000: {
                        items: 4,
                        //nav: true,
                        loop: false,
                        margin: 20
                    },
                    3000: {
                        items: 6,
                        //nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })

            $('#owl-carousel-2').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        //nav: true
                    },
                    600: {
                        items: 1,
                        //nav: false
                    },
                    1000: {
                        items: 1,
                        //nav: true,
                        loop: false,
                        margin: 20
                    },
                    3000: {
                        items: 1,
                        //nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
}



@foreach (var department in Model.departmentVM)
{
    @if (department.Name == "EC")
    {
        <div class="header-block row d-flex align-items-center mx-auto">
            <img src="@department.Image" />
            <div class="text-block text-block mx-auto d-flex align-items-center justify-content-center">
                @department.Name
            </div>
        </div>

        <div class="p-2 m-custom">
            <div class=" headings h2 m-3">About Faculty of Computer Science </div>
            <div class="row mt-4">
                <div class="col-md-6 col-sm-6 my-2">
                    <div class="dept pad-b-120"> </div>
                </div>
                <div class="col-md-6 col-sm-6 my-2">
                    <div class="description t-80">
                        @department.Description
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="frame">
                @foreach (var hod in Model.facultyVMList)
                {
                    @if (hod.Designation == "HOD" && hod.DeptId == 300)
                    {

                        <img src="@hod.Image">
                        break;
                    }
                }
            </div>
            <div class="mesdean">
                <div class="headings h2 t-200">Message from the HOD </div>
                <div class="description t-80">
                    @department.Message
                </div>
            </div>
        </div>
        break;
    }
}

<div class="H-head t-120">
    Our Faculty Of Department</br>
    <div class="blue t-150">Meet FACULTYs</div>
</div>


<!-- OWL CAROUSEL -->
<div class="mx-4 mb-5">
    <div class="owl-carousel owl-theme" id="owl1">

        @foreach (var faculty in Model.facultyVMList)
        {
            @if (faculty.DeptId == 300)
            {
                <div class="item">
                    <div class="p-2">
                        <div class="thumbnail h-frame h-350 w-80">
                            <img src="@faculty.Image" class="img-container w-99 h-200">
                            <div class="caption">
                                <div class="h-name">@faculty.Name</div>
                                <div class="hdept">@faculty.Designation</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }


    </div>
</div>

    <div class="row justify-content-center">
        <div class="col-11 overflow-hidden row">
            <div class="col-md-4 mt-3">
                <h1>Faculty</h1>
                <p class="font-weight-normal blue t-200">Stories That Speaks<br>Truth</p>
                <p class="brown">What our students and parents <br> say about our institute</p>
                <!-- <div class="row w-132p justify-content-around">
                    <div class="nav-r circle bg-brown"></div>
                    <div class="nav-r circle bg-brown"></div>
                </div> -->
            </div>

            <div class="col-md-8 ml-auto mt-3">
                <div class="alumnislider bg-ghostwhite">
                    <img src="~/images/qoutes.png" class="quotes">
                    <div class="owl-carousel owl-theme" id="owl-carousel-2">
                        <div class="item">
                            <p id="first-alumni" class="brown">
                                Lorem ipsum, or lipsum as it is sometimes known, is dummy
                                text used in laying out print, graphic or web designs. The passage is attributed to an
                                unknown typesetter in the 15th century who is thought to have scrambled parts of
                                Cicero's De
                                Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with
                            </p>
                            <div class="row">
                                <div id="alumni-image"></div>
                                <div id="alumni-name">Student-1<br>Senior devloper</div>
                            </div>
                        </div>
                        <div class="item">
                            <p id="second-alumni" class="brown">
                                The purpose of lorem ipsum is to create a natural
                                looking
                                block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A
                                practice not without controversy, laying out pages with meaningless filler text can be
                                very
                                useful when the focus is meant to be on design, not content.
                            </p>
                            <div class="row">
                                <div id="alumni-image"></div>
                                <div id="alumni-name">Student-2<br>Senior devloper</div>
                            </div>
                        </div>
                        <div class="item">
                            <p id="third-alumni" class="brown">
                                The passage experienced a surge in popularity during the
                                1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as
                                desktop publishers bundled the text with their software. Today it's seen all around the
                                web;
                                on templates, websites, and stock designs. Use our generator to get your own, or read on
                                for
                                the authoritative history of lorem ipsum.
                            </p>
                            <div class="row">
                                <div id="alumni-image"></div>
                                <div id="alumni-name">Student-3<br>Senior devloper</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-10 overflow-hidden">
                <h2 class="align-center">
                    A Culture Collobration that Derives <br>
                    <div class="blue"> Innovative Discoveries</div>
                </h2>
                <div class="row justify-content-center col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12">

                    <div class="row justify-content-around">
                        <div class="w-265 p-4">
                            <div class="thumbnail h-frame feature p-3 h-85">
                                <i class="fa fa-user-circle-o t-500 d-flex img-container justify-content-around mt-5"
                               aria-hidden="true"></i>
                                <div class="caption align-center t-150">2000 Alumnies</div>
                            </div>
                        </div>
                        <div class="w-265 p-4">
                            <div class="thumbnail h-frame feature p-3 h-85">
                                <i class="fa fa-check-square-o t-500 d-flex img-container justify-content-around mt-5"
                               aria-hidden="true"></i>
                                <div class="caption align-center t-150">25 <br> Years of Excellence</div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="w-265 p-4">
                            <div class="thumbnail h-frame feature p-3 h-85">
                                <i class="fa fa-bookmark  t-500 d-flex img-container justify-content-around mt-5"
                               aria-hidden="true"></i>
                                <div class="caption align-center t-150">Hot & Coold Water</div>
                            </div>
                        </div>
                        <div class="w-265 p-4">
                            <div class="thumbnail h-frame feature p-3 h-85">
                                <i class="fa fa-th-large t-500 d-flex img-container justify-content-around mt-5"
                               aria-hidden="true"></i>
                                <div class="caption align-center t-150">10+ <br>Smart Class Room</div>
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-around">
                        <div class="w-265 p-4 mb-4">
                            <div class="thumbnail h-frame feature p-3 h-85">
                                <i class="fa fa-user-circle-o t-500 d-flex img-container justify-content-around mt-5"
                               aria-hidden="true"></i>
                                <div class="caption align-center t-150">6+ <br> Labs</div>
                            </div>
                        </div>
                        <div class="w-265 p-4 mb-4">
                            <div class="thumbnail h-frame feature p-3 h-85">
                                <i class="fa fa-user-circle-o t-500 d-flex img-container justify-content-around mt-5"
                               aria-hidden="true"></i>
                                <div class="caption align-center t-150">2<br>Advanced Labs</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
